# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.
# Drizzle
# change with turso db url in
DATABASE_URL=""
# get token from turso
DATABASE_AUTH_TOKEN=""
NEXT_PUBLIC_APP_URL="http://localhost:3000/"
# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Google Provider
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

GOOGLE_ACCESS_KEY=""